.ChatMessageCard {
  background-color: cornflowerblue;

  border-radius: 5px;
  padding: .2rem .7rem;
}

.ChatMessageCard > div {
  display: flex;
  justify-content: space-between;

  font-size: x-small;
}